# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IoT Plug and Play Generated Code
Dev-Builder-MXChip/devicemodel/sensorbox_app/Device/.build
Dev-Builder-MXChip/devicemodel/sensorbox_app/Device/.vscode/c_cpp_properties.json
Dev-Builder-MXChip-IoTCentral/central_app_sim/devkit_device/cmake
Dev-Builder-MXChip-IoTCentral/central_app/devkit_device/Device/.build
Dev-Builder-MXChip-IoTCentral/central_app/devkit_device/Device/.vscode/c_cpp_properties.json
